* {
    margin: 0;
    padding: 0;

}
body {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.container {
    position: relative;
    display: inline-block; 
}
.video {
    position: absolute;
    top: 70px;
    left: 400px;
    height: 500px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: default;
}

.image img{
    position: relative;
    top: 70px;
    left: 160px;
    height: 500px;
    border-radius: 10px;
    opacity: 0.9;

}
.image img:hover {
    filter: grayscale(50%);
    opacity: 1;
    cursor: pointer;

}
.info {
    color: black; 
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: 70%;
    bottom: 230px;
    width: 190px;
    font-size: small;
    background: rgb(129, 127, 127);
    cursor: default;
    transition: opacity 0.5s ease;
    opacity: 0;
   
}